
.card{
    display: flex;
    flex-direction: row;
    align-items: center;
}

@media screen and (max-width: 480px) {
    .container-reservas {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 16px;
        margin-top: 20px;
        justify-content: center;
        flex-direction: column-reverse;
    }
    .card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

